<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard | Gumbo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>

    <div class="profile-img container-fluid bg-1 text-center">
        <img src="<%= user.photo %>" class="responsive" alt="<%= user.name %>">
        <h4>Welcome, <%= user.name %></h4>
    </div>
    <br>

    <div class="container">
        <div style="float: left; padding-right: 50px;">
            <div class="col-6 col-centered">
                <br>
                <br>
                <a href="/matches">
                    <center>
                        <img src="/images/getstarted.png" class="icon" alt="get started" width="65" height="65">
                    </center>

                    <br>

                    <center>
                        <p>Get Started</p>
                    </center>
                    <br>
                    <br>
                </a>
                <a href="/user/profile/view/<%= user.name %>">
                    <center>
                        <img src="/images/profile.png" class="icon" alt="view profile" width="65" height="65">
                    </center>
                    <br>

                    <center>
                        <p>View Profile</p>
                    </center>
                </a>
            </div>
        </div>
        <div style="float: right; padding-left: 50px;">
            <div class="col-6 col-centered">
                <br>
                <br>
                <a href="/user/history">
                    <center>
                        <img src="/images/history.png" class="icon" alt="history" width="65" height="65">
                    </center>
                    <br>

                    <center>
                        <p>History</p>
                    </center>
                    <br>
                    <br>
                </a>
                <a href="/user/profile/settings">
                    <center>
                        <img src="/images/settings.png" class="icon" alt="settings" width="65" height="65">
                    </center>
                    <br>

                    <center>
                        <p>Settings</p>
                    </center>
                </a>
            </div>
        </div>
    </div>
    </div>





</body>

</html>

</body>