<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Questionanaire | Gumbo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
    <link rel="stylesheet" href="/stylesheets/questionnaire.css">
    <link rel="stylesheet" href="/stylesheets/matches.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <section>

        <div class="top container-fluid bg-1">
            <div class="row">
                <div class="col-xs-12">
                    <a id="goBack" href="/user/dashboard" class="previous-round">
                        <img src="/images/back.png" width="25" height="25">
                    </a>
                    <h4>
                        <center>Questionnaire</center>
                    </h4>
                </div>
            </div>
        </div>
    
        <div class="questions">
            <p class="question">1. What kind of food are you craving?</p>
            <form class="options">
                <input class="next" type="button" name="food" value="American">
                <input class="next" type="button" name="food" value="Pizza">
                <input class="next" type="button" name="food" value="Asian">
                <input class="next" type="button" name="food" value="Sandwich">
                <input class="next" type="button" name="food" value="Italian">
                <input class="next" type="button" name="food" value="Mexican">
            </form>
        </div>
        <div class="questions">
                <p class="question">2. How much are you looking to spend?</p>
            <form class="options">
                <input class="next" type="button" name="price" value="$">
                <input class="next" type="button" name="price" value="$$">
                <input class="next" type="button" name="price" value="$$$">
                <input class="next" type="button" name="price" value="$$$$">
            </form>
        </div>
        <div class="questions">
                <p class="question">3. How far are you willing to travel?</p>
            <form class="options">
                <input class="next" type="button" name="distance" value="0-5 miles">
                <input class="next" type="button" name="distance" value="6-15 miles">
                <input class="next" type="button" name="distance" value="16-30 miles">
                <input class="next" type="button" name="distance" value="30+ miles">
            </form>
    
        </div>
        <br>
    </section>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsAGxXjvSI3hHIbjyjwQuk88vJSjngcTE&libraries=geometry"></script>
    <!-- Link to our Javascript file -->
    <script src="/javascripts/questionnaire.js"></script>
    <script type="text/javascript" src="/javascripts/matches.js"></script>

</body>

</html>
