
        h4 {
            font-family: 'Roboto', sans-serif;
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
        }

        .bg-1 {
            background-color: #1ea896;
            /* Green */
            color: #ffffff;
        }

        .bg-2 {
            background-color: #474e5d;
            /* Dark Blue */
            color: #ffffff;
        }

        .bg-3 {
            background-color: #ffffff;
            /* White */
            color: #555555;
        }

        .container-fluid {
            padding-top: 8px;
            padding-bottom: 3px;
        }

        .img-circle {
            width: 80px;
            height: 80px;
        }

        a {
            color: #1ea896;
            font-weight: grow;

        }


        a:hover {
            text-decoration: none;
        }


        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .profile-img img {
            width: 100%;
        }
