
        h4 {
            font-family: 'Roboto', sans-serif;
        }


        .bg-1 {
            background-color: #1ea896;
            color: #ffffff;
        }

        .bg-2 {
            background-color: #474e5d;
            color: #ffffff;
        }

        .bg-3 {
            background-color: #ffffff;
            color: #555555;
        }



        
.requests {
    background-color: #ffffff;
    max-width: 100%;
    padding: 20px 0;
    margin: 20px;

}
.requests .row {
    margin-bottom: 15px;
}
.requestName {
    
}
.requestName p {
    line-height: 28px;
    margin: 0;    
}
.requestActions {
    text-align: center;
}

.cancel {
 background-color: #e84153; 
 border: 1px solid white;
 color: white;
 font-size: 10px;
 display: inline-block;
}

.cancel:hover {
    color: white;
    text-decoration: none;
}

.accept {
    background-color: #1ea896; 
    border: 1px solid white;
    color: white;
    font-size: 10px;
    display: inline-block;
   }

   .accept:hover {
    color: white;
    text-decoration: none;
}

.badge {
    background-color: #e84153;
}

h5 {
    font-size: 20px;
}

p {
font-size: 16px;
display: inline-block;

}

