
        h4 {
            font-family: 'Roboto', sans-serif;
            }
    
    
            p {
                font-family: 'Roboto', sans-serif;
                font-size: 11px;
                color: #4c5454;
                line-height: 0;
                text-align: left;
                padding-left: 25px;
                padding-bottom: 0px;
                margin: 0px;
            }
    
            .bg-1 {
                background-color: #1ea896;
                /* Green */
                color: #ffffff;
            }
    
            .bg-2 {
                background-color: #474e5d;
                /* Dark Blue */
                color: #ffffff;
            }
    
            .bg-3 {
                background-color: #ffffff;
                /* White */
                color: #555555;
            }
    
            .top {
                padding-top: 8px;
                padding-bottom: 3px;
            }
    
            .bottom {
                padding-top: 10px;
                padding-bottom: 50px;
                background-color: white;
            }
    
    
            a {
                color: #1ea896;
                font-weight: grow;
    
            }
    
    
            a:hover {
                text-decoration: none;
            }
    
    
            .container {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
        .ui-btn {
           width: 100%;
           height: 80px;
           font-family: 'Roboto', sans-serif;
           font-size: 15px;
           border: 1px solid gray;
        }

        .ui-btn:active {
            background-color: #1ea896; /* Green */
            color: white;
         }


        .question {
            padding-top: 40px;
            padding-bottom: 40px;
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
        }