.matchContainer {
    height: 20%;
}
.matchContainer h3{
    font-size: 2.5em;
    margin: 25px 0;
    text-align: center;
}
.matchContainer .profiles {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center
}
.matchContainer .profiles div {
    justify-content: space-around;
    margin: 0 45px;
    text-align: center;
}
.matchContainer .profiles img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    box-shadow: 0 3px 18px 1px rgba(0, 0, 0, .5)
}
.matchContainer .profiles p {
    font-weight: 900;
    margin: 20px 0;
    font-size: .9em;
}
.matchContainer .profiles .you {

}
.matchContainer .profiles .match {

}



.matchContainer .restaurant{
    padding: 20px 0;
    width: fit-content;
    margin: 0 auto; 
}
.matchContainer .restaurant .resName{
    font-size: 1.5em;
    font-size: 900;
    text-align: center;
}
.matchContainer .restaurant p{
    font-size: 14px;
}
.matchContainer .restaurant p img{
    margin-right: 4px;
}



/* Styles for Nav Bar */
.top {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #1ea896;
}
#goBack {
    float: left;
    text-align: left;
    margin-left: 10px;
}
.top h4 {
    color: #ffffff;
    margin: 0;
    line-height: 25px;
    text-indent: -35px;
}