/* =========================================== */
            /* Profile Setting */
/* =========================================== */
body {
  background-color: white;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.15em;
}

h4 {
    font-family: 'Roboto', sans-serif;
    color: white;
    display: inline-block;
    margin: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.top {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #1ea896;
}

#goBack {
  float: left;
  text-align: left;
  margin-left: 10px;
}
#saveSettings {
  margin-right: 10px;
  float: right;
  text-align: right;
}
.accountSettings {
    width: 100vw;
    margin: 0;
}
.accountSettings > .col-sm-12 {
    display: flex;
    border-bottom: 1px solid #b3b3b3;
    min-height: 80px;
}
.accountSettings .card {
    width: 100%;
    align-self: center
  }
  .accountSettings .card h5 {
    width: fit-content;
    color: #808080;
    font-weight: bold;
    display: inline-block;
    margin: 0;
    line-height: 20px
  }
  .accountSettings .card a {
    float: right;
  }
  .accountSettings .card .sliderAmount {
    display: inline-block;
    text-align: right;
    float: right;
    width: fit-content;
    font-size: 12px;
    line-height: 20px;
    background: none;
    border: none;
  }
  .accountSettings .slider {
    margin-top: 10px;
}
.accountSettings .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50px 50px;
  background: #d3d3d3;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .4);
  cursor: pointer;
}

.accountSettings .slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50px 50px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .4);
  background: #d3d3d3;
  cursor: pointer;
}
  .accountSettings .accountActions a{
    float: none;
    margin: 10px 0;
    display: block;
    font-size: 14px
  }
.genderPref {
  visibility: visible;
  opacity: 1;
}
.genderPref fieldset {
  margin-top: 10px;
  text-align: center;
}

.distanceSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #dddddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.ageSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #dddddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.btn {
  background-color:#e84153;
  color: white;
}

.btn:hover{
background-color: white;
color: #e84153;
border: 2px solid #e85153;
}

a {
  text-decoration: none;
  color: #808080;
}

a:hover {
  text-decoration: underline;
  color: #808080;
}

.ui-checkboxradio-label {
  background-color:#e84153;
  color: white;
}
