

  
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#button {
  background-color: rgba(255, 0, 0, 0.74);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150%;
  width: 50%;
}
#button:hover {
  background-color: white;
  color: rgba(255, 0, 0, 0.74)
}
#pic{
  padding-top: 50%;
  padding-bottom: 50%;
} 
#pic1 {
  padding-top: 50%;
  padding-bottom: 50%;
}

#pic2 {
  padding-top: 50%;
  padding-bottom: 50%;
}

.carousel-inner  {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}

h2 {
  color: rgba(255, 0, 0, 0.74)
}
body {
  background-color: #FBFBFB;
}
img {
  margin-left: 35%;
}
#button {
  margin-left: 40%;
  background-color: palevioletred
}
#button:hover {
  background-color: white;
  color: palevioletred;
}
p {
  text-align: center;
  color: deeppink; 
}