
body {
  background-color: #FBFBFB;
}
b {
  background-color: black;
}
img {
margin-left: 35%;
}
#button {
margin-left: 40%;
background-color: palevioletred
}
#button:hover {
background-color: white;
color: palevioletred;
}
p {
text-align: center;
color: deeppink; 
}