/*TITLE PAGE CSS */

body {
  background-color: #4ABDAC;
}

.carousel-indicators .active {
  background-color: white;
}

.carousel-indicators li {
  border: none;
  box-shadow: inset 1px 1px 1px 1px white;   
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
}
  
.carousel .item {
  height: 500px;
  margin: 20px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
}

#fbButton {
  justify-content: center;
  align-items: center;
}
